#Compiled Source#
##################
*.exe
*.o
*.dat

#packages#
#############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

#folders#
.*/
dependencies/jpeg/lib
dependencies/jpeg/include
dependencies/png/lib
dependencies/png/include
dependencies/zlib/lib
dependencies/zlib/include
#images#
*.jpg
*.jpeg
*.png

#videofiles and audio files#
*.mp4
*.mkv
*.mp3



